
html {
    height: 100%;
}
body {
  height: 100%;
}
* {
	padding:0;
	margin:0;
}

body {
	color: #333; /*SoGreyAlmostBlack*/
	font: 14px Sans-Serif;
	padding: 50px;
	background: #d0d0d0; /*Grey*/
}

h1 {
	text-align: center;
	padding: 20px 0 12px 0;
	margin: 0;
}
h2 {
	font-size: 16px;
	text-align: center;
	padding: 0 0 12px 0; 
}

#container {
	box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
	position: relative;
	background: white; 
}

table {
	background-color: #a1a1a1; /*Grey 2*/
	border-collapse: collapse;
	width: 100%;
	margin: 15px 0;
}

th {
	background-color: #545454; /*Dark Greye*/
	color: #d0d0d0; /*Grey*/
	cursor: pointer;
	padding: 5px 10px;
}

th small {
	font-size: 9px; 
}

td, th {
	text-align: left;
}

a {
	text-decoration: none;
}

td a {
	color: #000266; /*Slight-Light Blue 2*/
	display: block;
	padding: 5px 10px;
}
th a {
	padding-left: 0
}

th:first-of-type {
	padding-left: 35px;
}

td:not(:first-of-type) a {
	background-image: none !important;
} 

tr:nth-of-type(odd) {
	background-color: #CACACA; /*Light Grey*/
}

tr:hover td {
	background-color:#E6E6E6; /*Off-White*/
}

tr:hover td a {
	color: #000; /*Black*/ 
}

 .uploadbox {
    width: 185px;
}

 .submitsmall {
  height: 18px;
  width: 35px;
  -moz-box-shadow: 0px 0px 0px 2px #a5a5a5; /*Light Grey*/
  -webkit-box-shadow: 0px 0px 0px 2px #a5a5a5; /*Light Grey*/
  box-shadow: 0px 0px 0px 2px #a5a5a5; /*Light Grey*/
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #909090), color-stop(1, #7a7a7a)); /*Grey 1 and Grey 2*/
  background:-moz-linear-gradient(top, #909090 5%, #7a7a7a 100%); /*Grey 1 and Grey 2*/
  background:-webkit-linear-gradient(top, #909090 5%, #7a7a7a 100%); /*Grey 1 and Grey 2*/
  background:-o-linear-gradient(top, #909090 5%, #7a7a7a 100%); /*Grey 1 and Grey 2*/
  background:-ms-linear-gradient(top, #909090 5%, #7a7a7a 100%); /*Grey 1 and Grey 2*/
  background:linear-gradient(to bottom, #909090 5%, #7a7a7a 100%); /*Grey 1 and Grey 2*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#909090', endColorstr='#7a7a7a',GradientType=0); /*Grey 1 and Grey 2*/
  background-color:#909090; /*Grey 1*/
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:1px solid #7a7a7a; /*Grey 2*/
  display:inline-block;
  cursor:pointer;
  color:#ffffff; /*White*/
  font-family:'Arial';
  font-size:16px;
  margin-top:3px;
  margin-bottom:3px;
  margin-left:4px;
  margin-right:4px;
  text-decoration:none;
  text-shadow:0px 1px 0px #696969; /*Blue 3*/