
html {
    height: 100%;
}
body {
  height: 100%;
}
input{ 
  box-sizing:border-box; 
}
body {
  margin: 0;
  padding: 0;
  background: #ffffff; /*White*/
}
.iframer ul {
  background-color: #ffffff; /*White*/
} 
.nav ul {
  list-style: none;
  background-color: #444; /*Dark Grey*/
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Arial', 'Arial';
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888; /*Light Grey*/
}
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
.nav a:hover {
  background-color: #4A2607; /*Very Light Grey*/
}
.nav a.active {
  background-color: #fff; /*White*/
  color: #444; /*Dark Grey*/
  cursor: default;
}
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 .centerdiv {
    float: center;
    max-width: 650px;
}
 .button {
  height: 18px;
  width: 35px;
  -moz-box-shadow: 0px 0px 0px 2px #FF953D; /*Light Blue*/
  -webkit-box-shadow: 0px 0px 0px 2px #FF953D; /*Light Blue*/
  box-shadow: 0px 0px 0px 2px #FF953D; /*Light Blue*/
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #FFC391), color-stop(1, #AA6C39));
  background:-moz-linear-gradient(top, #FFC391 5%, #AA6C39 100%); /*Light blue-dark blue gradient*/
  background:-webkit-linear-gradient(top, #FFC391 5%, #AA6C39 100%); /*Light blue-dark blue gradient*/
  background:-o-linear-gradient(top, #FFC391 5%, #AA6C39 100%); /*Light blue-dark blue gradient*/
  background:-ms-linear-gradient(top, #FFC391 5%, #AA6C39 100%); /*Light blue-dark blue gradient*/
  background:linear-gradient(to bottom, #FFC391 5%, #AA6C39 100%); /*Light blue-dark blue gradient*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC391', endColorstr='#AA6C39',GradientType=0); /*Light blue-dark blue gradient*/
  background-color:#FFC391; /*Light blue*/
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:1px solid #543924; /*Dark blue 2(Darker)*/
  display:inline-block;
  cursor:pointer;
  color:#ffffff; /*White*/
  font-family:'Arial';
  font-size:16px;
  margin-top:3px;
  margin-bottom:3px;
  margin-left:4px;
  margin-right:4px;
  text-decoration:none;
  text-shadow:0px 1px 0px #283966; /*Dark blue 3(Darker)*/
}
input[type=submit] {
  height: 25px;
  width: 133px;
  -moz-box-shadow: 0px 0px 0px 2px #FF953D; /*Sky blue*/
  -webkit-box-shadow: 0px 0px 0px 2px #FF953D; /*Sky blue*/
  box-shadow: 0px 0px 0px 2px #FF953D; /*Sky blue*/
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #FFC391), color-stop(1, #AA6C39)); /*Light blue-dark blue gradient*/
  background:-moz-linear-gradient(top, #FFC391 5%, #AA6C39 100%); /*Light blue-dark blue gradient*/
  background:-webkit-linear-gradient(top, #FFC391 5%, #AA6C39 100%); /*Light blue-dark blue gradient*/
  background:-o-linear-gradient(top, #FFC391 5%, #AA6C39 100%); /*Light blue-dark blue gradient*/
  background:-ms-linear-gradient(top, #FFC391 5%, #AA6C39 100%); /*Light blue-dark blue gradient*/
  background:linear-gradient(to bottom, #FFC391 5%, #AA6C39 100%); /*Light blue-dark blue gradient*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC391', endColorstr='#AA6C39',GradientType=0); /*Light blue-dark blue gradient*/
  background-color:#FFC391; /*Light blue*/ 
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:1px solid #543924; /*Perfectly Blue*/
  display:inline-block;
  cursor:pointer;
  color:#ffffff; /*White*/
  font-family:'Arial';
  font-size:16px;
  margin-top:3px;
  margin-bottom:3px;
  margin-left:4px;
  margin-right:4px;
  text-decoration:none;
  text-shadow:0px 1px 0px #283966; /*Dark blue 3(Darker)*/
}
input[type=submit] {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #AA6C39), color-stop(1, #FFC391));
  background:-moz-linear-gradient(top, #AA6C39 5%, #FFC391 100%); /*Dark blue-light blue gradient*/
  background:-webkit-linear-gradient(top, #AA6C39 5%, #FFC391 100%); /*Dark blue-light blue gradient*/
  background:-o-linear-gradient(top, #AA6C39 5%, #FFC391 100%); /*Dark blue-light blue gradient*/
  background:-ms-linear-gradient(top, #AA6C39 5%, #FFC391 100%); /*Dark blue-light blue gradient*/
  background:linear-gradient(to bottom, #AA6C39 5%, #FFC391 100%); /*Dark blue-light blue gradient*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#AA6C39', endColorstr='#FFC391',GradientType=0); /*Dark blue-light blue gradient*/
  background-color:#AA6C39; /*Dark blue*/
}
input[type=submit] {
  position:relative;
  top:1px;
}
hr {
  clear:both;
  display:block;
  width: 96%;               
  background-color:#010E07; /*Yellow*/
  height: 1px;
}


  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  */
}