
html {
    height: 100%;
}
body {
  height: 100%;
}
input{ 
  box-sizing:border-box; 
}
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
}
.iframer ul {
  background-color: #ffffff;
} 
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Arial', 'Arial';
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
.nav a:hover {
  background-color: #12a72b; /*Dark Green*/
}
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 .centerdiv {
    float: center;
    max-width: 650px;
}
 .button {
  height: 18px;
  width: 35px;
  -moz-box-shadow: 0px 0px 0px 2px #a6f29f; /*Light Green*/
  -webkit-box-shadow: 0px 0px 0px 2px #a6f29f; /*Light Green*/
  box-shadow: 0px 0px 0px 2px #a6f29f; /*Light Green*/
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #82c278), color-stop(1, #5b9e47)); /*Green and Light Green2*/
  background:-moz-linear-gradient(top, #82c278 5%, #5b9e47 100%); /*Light Green2 and Green*/
  background:-webkit-linear-gradient(top, #82c278 5%, #5b9e47 100%); /*Light Green2 and Green*/
  background:-o-linear-gradient(top, #82c278 5%, #5b9e47 100%); /*Light Green2 and Green*/
  background:-ms-linear-gradient(top, #82c278 5%, #5b9e47 100%); /*Light Green2 and Green*/
  background:linear-gradient(to bottom, #82c278 5%, #5b9e47 100%); /*Light Green2 and Green*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#82c278', endColorstr='#5b9e47',GradientType=0); /*Green and Light Green2*/
  background-color:#82c278;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:1px solid #4e9656;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:'Arial';
  font-size:16px;
  margin-top:3px;
  margin-bottom:3px;
  margin-left:4px;
  margin-right:4px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2a6628;
}
input[type=submit] {
  height: 25px;
  width: 133px;
  -moz-box-shadow: 0px 0px 0px 2px #a6f29f;
  -webkit-box-shadow: 0px 0px 0px 2px #a6f29f;
  box-shadow: 0px 0px 0px 2px #a6f29f;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #82c278), color-stop(1, #5b9e47));
  background:-moz-linear-gradient(top, #82c278 5%, #5b9e47 100%);
  background:-webkit-linear-gradient(top, #82c278 5%, #5b9e47 100%);
  background:-o-linear-gradient(top, #82c278 5%, #5b9e47 100%);
  background:-ms-linear-gradient(top, #82c278 5%, #5b9e47 100%);
  background:linear-gradient(to bottom, #82c278 5%, #5b9e47 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
  background-color:#7892c2;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:1px solid #4e6096;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:'Arial';
  font-size:16px;
  margin-top:3px;
  margin-bottom:3px;
  margin-left:4px;
  margin-right:4px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2a6628;
}
input[type=submit] {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5b9e47), color-stop(1, #82c278));
  background:-moz-linear-gradient(top, #5b9e47 5%, #82c278 100%);
  background:-webkit-linear-gradient(top, #5b9e47 5%, #82c278 100%);
  background:-o-linear-gradient(top, #5b9e47 5%, #82c278 100%);
  background:-ms-linear-gradient(top, #5b9e47 5%, #82c278 100%);
  background:linear-gradient(to bottom, #5b9e47 5%, #82c278 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b9e47', endColorstr='#82c278',GradientType=0);
  background-color:#5b9e47;
}
input[type=submit] {
  position:relative;
  top:1px;
}
hr {
  clear:both;
  display:block;
  width: 96%;               
  background-color:#010E07;
  height: 1px;
}


  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  */
}