
html {
    height: 100%;
}
body {
  height: 100%;
}
input{ 
  box-sizing:border-box; 
}
body {
  margin: 0;
  padding: 0;
  background: #fff; /*White*/
}
.iframer ul {
  background-color: #444; /*Dark Grey*/
} 
.nav ul {
  list-style: none;
  background-color: #444; /*Dark Grey*/
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Arial', 'Arial';
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #444; /*Dark Grey*/
}
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
.nav a:hover {
  background-color: #830606; /*Red2*/
}
.nav a.active {
  background-color: #830606; /*Red2*/
  color: #444; /*Dark Grey*/
  cursor: default;
}
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 .centerdiv {
    float: center;
    max-width: 650px;
}
 .button {
  height: 18px;
  width: 35px;
  -moz-box-shadow: 0px 0px 0px 2px #a10000; /*Red1*/
  -webkit-box-shadow: 0px 0px 0px 2px #a10000; /*Red1*/
  box-shadow: 0px 0px 0px 2px #a10000; /*Red1*/
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a10000), color-stop(1, #830606)); /*Red1-Red2 gradient*/
  background:-moz-linear-gradient(top, #a10000 5%, #830606 100%); /*Red1-Red2 gradient*/
  background:-webkit-linear-gradient(top, #a10000 5%, #830606 100%); /*Red1-Red2 gradient*/
  background:-o-linear-gradient(top, #a10000 5%, #830606 100%); /*Red1-Red2 gradient*/
  background:-ms-linear-gradient(top, #a10000 5%, #830606 100%); /*Red1-Red2 gradient*/
  background:linear-gradient(to bottom, #a10000 5%, #830606 100%); /*Red1-Red2 gradient*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a10000', endColorstr='#830606',GradientType=0); /*Red1-Red2 gradient*/
  background-color: #a10000; /*Red1*/
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:1px solid #000; /*Black*/
  display:inline-block;
  cursor:pointer;
  color:#ffffff; /*White*/
  font-family:'Arial';
  font-size:16px;
  margin-top:3px;
  margin-bottom:3px;
  margin-left:4px;
  margin-right:4px;
  text-decoration:none;
  text-shadow:0px 1px 0px #000; /*Black*/
}
input[type=submit] {
  height: 25px;
  width: 133px;
  -moz-box-shadow: 0px 0px 0px 2px #000; /*Black*/
  -webkit-box-shadow: 0px 0px 0px 2px #000; /*Black*/
  box-shadow: 0px 0px 0px 2px #000; /*Black*/
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a10000), color-stop(1, #830606)); /*Red1-Red2 gradient*/
  background:-moz-linear-gradient(top, #a10000 5%, #830606 100%); /*Red1-Red2 gradient*/
  background:-webkit-linear-gradient(top, #a10000 5%, #830606 100%); /*Red1-Red2 gradient*/
  background:-o-linear-gradient(top, #a10000 5%, #830606 100%); /*Red1-Red2 gradient*/
  background:-ms-linear-gradient(top, #a10000 5%, #830606 100%); /*Red1-Red2 gradient*/
  background:linear-gradient(to bottom, #a10000 5%, #830606 100%); /*Red1-Red2 gradient*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a10000', endColorstr='#830606',GradientType=0); /*Red1-Red2 gradient*/
  background-color: #a10000; /*Red1*/
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:1px solid #000; /*Black*/
  display:inline-block;
  cursor:pointer;
  color:#ffffff; /*White*/
  font-family:'Arial';
  font-size:16px;
  margin-top:3px;
  margin-bottom:3px;
  margin-left:4px;
  margin-right:4px;
  text-decoration:none;
  text-shadow:0px 1px 0px #000; /*Black*/
}
input[type=submit] {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a10000), color-stop(1, #830606)); /*Red1-Red2 gradient*/
  background:-moz-linear-gradient(top, #830606 5%, #a10000 100%); /*Red2-Red1 gradient*/
  background:-webkit-linear-gradient(top, #830606 5%, #a10000 100%); /*Red2-Red1 gradient*/
  background:-o-linear-gradient(top, #830606 5%, #a10000 100%); /*Red2-Red2 gradient*/
  background:-ms-linear-gradient(top, #830606 5%, #a10000 100%); /*Red2-Red1 gradient*/
  background:linear-gradient(to bottom, #830606 5%, #a10000 100%); /*Red2-Red1 gradient*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a10000', endColorstr='#830606',GradientType=0); /*Red1-Red2 gradient*/
  background-color: #a10000; /*Red1*/
}
input[type=submit] {
  position:relative;
  top:1px;
}
hr {
  clear:both;
  display:block;
  width: 96%;               
  background-color:#010E07; /*Yellow*/
  height: 1px;
}


  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  */
}