
html {
    height: 100%;
}
body {
  height: 100%;
}
input{ 
  box-sizing:border-box; 
}
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
}
.iframer ul {
  background-color: #ffffff;
} 
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Arial', 'Arial';
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
.nav a:hover {
  background-color: #CCBB11;
}
.nav a.active {
  background-color: #CCBB11;
  color: #444;
  cursor: default;
}
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 .centerdiv {
    float: center;
    max-width: 650px;
}
 .button {
  height: 18px;
  width: 35px;
  -moz-box-shadow: 0px 0px 0px 2px #888566;
  -webkit-box-shadow: 0px 0px 0px 2px #888566;
  box-shadow: 0px 0px 0px 2px #888566;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #CCBB11), color-stop(1, #888566));
  background:-moz-linear-gradient(top, #CCBB11 5%, #888566 100%);
  background:-webkit-linear-gradient(top, #CCBB11 5%, #888566 100%);
  background:-o-linear-gradient(top, #CCBB11 5%, #888566 100%);
  background:-ms-linear-gradient(top, #CCBB11 5%, #888566 100%);
  background:linear-gradient(to bottom, #CCBB11 5%, #888566 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCBB11', endColorstr='#888566',GradientType=0);
  background-color:#CCBB11;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:1px solid #888566;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:'Arial';
  font-size:16px;
  margin-top:3px;
  margin-bottom:3px;
  margin-left:4px;
  margin-right:4px;
  text-decoration:none;
  text-shadow:0px 1px 0px #000000;
}
input[type=submit] {
  height: 25px;
  width: 133px;
  -moz-box-shadow: 0px 0px 0px 2px #888566;
  -webkit-box-shadow: 0px 0px 0px 2px #888566;
  box-shadow: 0px 0px 0px 2px #888566;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #CCBB11), color-stop(1, #888566));
  background:-moz-linear-gradient(top, #CCBB11 5%, #888566 100%);
  background:-webkit-linear-gradient(top, #CCBB11 5%, #888566 100%);
  background:-o-linear-gradient(top, #CCBB11 5%, #888566 100%);
  background:-ms-linear-gradient(top, #CCBB11 5%, #888566 100%);
  background:linear-gradient(to bottom, #CCBB11 5%, #888566 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCBB11', endColorstr='#888566',GradientType=0);
  background-color:#CCBB11;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:1px solid #888566;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:'Arial';
  font-size:16px;
  margin-top:3px;
  margin-bottom:3px;
  margin-left:4px;
  margin-right:4px;
  text-decoration:none;
  text-shadow:0px 1px 0px #000000;
}
input[type=submit] {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #888566), color-stop(1, #CCBB11));
  background:-moz-linear-gradient(top, #888566 5%, #CCBB11 100%);
  background:-webkit-linear-gradient(top, #888566 5%, #CCBB11 100%);
  background:-o-linear-gradient(top, #888566 5%, #CCBB11 100%);
  background:-ms-linear-gradient(top, #888566 5%, #CCBB11 100%);
  background:linear-gradient(to bottom, #888566 5%, #CCBB11 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#888566', endColorstr='#CCBB11',GradientType=0);
  background-color:#888566;
}
input[type=submit] {
  position:relative;
  top:1px;
}
hr {
  clear:both;
  display:block;
  width: 96%;               
  background-color:#000000;
  height: 1px;
}


  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  */
}